body {
  margin: 2vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #494949;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Notification-error {
  background-color: #b61827;
  text-align: center;
  color: #eeeeee;
  padding: 20px;
  border: 1px solid #eeeeee;
}

.Notification-sucess {
  background-color: #8bc34a;
  text-align: center;
  color: black;
  padding: 20px;
  border: 1px solid #eeeeee;
}
